main {
  /* margin-top: 15vh !important; */
  /* display: block !important; */
  /* position: relative !important; */
  width: 100% !important;
  padding-top: 10vh;
}

.hero-layout {
  text-align: center;
}
