@import "./styles/utils.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  font-family: sans-serif;
}

#root {
  width: 100%;
  padding-top: 10vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
:root {
  box-sizing: border-box;
}
